#home-page{
    white-space: nowrap;
    overflow: hidden;
}
#home-page .left-container{
    border-right:2px solid #c46992;
    overflow-x: hidden;
    overflow-y:hidden;
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
}
#home-page .left-container, #home-page .right-container{
    padding:0 !important;
}


#home-page .player-container{
    width:33.33vw;
    height:33.33vh;
    background:#111;
    margin-top:0px;
}
#home-page #menu-container{
    margin-top:20px;
    padding: 0;
    padding-right: 10px;
    height: 693px;
    overflow-y: scroll;
}
#sub-menus-wrapper {
    /*height: calc(65vh - 100px);*/
    height:615px ;
    overflow-y: scroll;
}
#back-button-wrapper{
    display: inline-block;
    vertical-align: middle;
}
#search-button-wrapper{
    display: inline-block;
    vertical-align: middle;
}
#home-page .menu-item{
    padding:10px;
    font-size:30px;
    color:#fff;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#menu-wrapper .menu-item{
    font-size:35px;
}
#home-page .menu-item.active{
    background:#42a5f5;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#home-page-right-part-content-1{
    overflow: hidden;
}
#home-page .movie-sliders-part{
    margin-top:70px;
    margin-left:100px;
}
#home-page-right-part-content-2{
    display: none;
}



#home-page .movie-slider-container{
    margin-top:-10px;
}

#home-page .movie-slider-title{
    font-size:40px;
    margin-bottom:-10px;
    margin-top:10px;
    color:#fff;
}
#home-page .movie-slider-wrapper{
    padding:20px 5px 20px 10px;
    margin-left: -20px;
    overflow-x: hidden;
    overflow-y: visible;
    white-space: nowrap;
}

#home-page .movie-item-container{
    padding:10px;
    display:inline-block;
    transition: transform .5s; /* Animation */
    vertical-align: middle;
}

#home-page .movie-item-wrapper{
    transition: transform .5s; /* Animation */
    padding-bottom: 0;
    border-radius: 5px;
    overflow: hidden;
}

#home-page .movie-slider-wrapper .movie-item-wrapper{
    padding:5px;
    background: #4d5a60;
}
.movie-item-thumbernail-img-wrapper{
    text-align: center;
}
.movie-item-wrapper .movie-item-thumbernail-img-wrapper{
    height: 190px;
    width: 160px;
}
.movie-item-wrapper.channel .movie-item-thumbernail-img-wrapper{
    height: 160px;
    width: 160px;
}

#home-page .movie-slider-wrapper .movie-item-wrapper.active{
    transform: scale(1.05);
    box-sizing: border-box;
    background: #00a3f3;
}
.movie-item-thumbernail-img{
    width: 100%;
    height: 100%;
}
.channel .movie-item-thumbernail-img{
    max-width: 100%;
    height: 100%;
}
.movie-thumbernail-title-wrapper{
    position: relative;
    height: 40px;
}
#home-page .movie-thumbernail-title{
    font-size:18px;
    color:white;
    margin-bottom: 0;
    left:0;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    position: absolute;
    width:100%;
    padding:0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


#sub-menu-container{
    display:none;
}
#search-back-button-wrapper{
    color:#999;
    /*font-size:25px;*/
    margin-bottom:20px;
    font-size:0;
    white-space: nowrap;
}
.search-back-button span{
    display: inline-block;
    padding:10px 20px;
    border-radius:5px;
    text-align: center;
    color:#fff;
    background: transparent;
    font-size:25px;
}
#search-back-button-wrapper i{
    margin-right:15px;
}
.search-back-button.active span{
    color:#fff;
    background:#438bd8;
}
#search-button-wrapper{
    width: 50%;
}
#home-page-right-part{
    overflow-y: scroll;
    width: 66.66%;
    display: inline-block;
    vertical-align: top;
}

#home-page-video-preview, #home-page-video-preview-lg{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

/*.movie-item-wrapper.active .movie-grid-item-image{*/
/*    border-top-left-radius: 19px;*/
/*    border-top-right-radius: 19px;*/
/*    border-bottom: none;*/
/*    box-sizing: border-box !important;*/
/*}*/

.hide-category-btn-wrapper{
    padding-top:0 !important;
    padding-bottom: 0 !important;
    padding-left: 0;
    padding-right: 0;
    width: 33.33%;
    vertical-align: middle;
    display: inline-block;
}
.hide-category-btn-wrapper:first-child {
    padding-left: 0;
}
.hide-category-btn{
    text-align: center;
    width:100%;
    color:#fff;
    font-size:35px;
}
.hide-category-btn-wrapper.active .hide-category-btn{
    background: #ffff00 !important;
    color: #333;
}

#hide-modal-categories-container {
    max-height: 60vh;
    overflow: hidden;
    position: relative;
}
.hide-category-modal-option{
    padding: 10px 20px;
    border-radius: 5px;
    color:#fff;
}
.hide-category-modal-option.active{
    background: #fff;
    color:#333;
}


.hide-category-checkbox {
    position: absolute;
    display: none;
}
.hide-category-checkbox + label {
    position: relative;
    display: block;
    padding-left: 20px;
    font-size:35px;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 0 !important;
}
.hide-category-checkbox + label:before {
    position: absolute;
    top: 7px;
    right: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    content: '';
    border: 3px solid #444;
}
.hide-category-checkbox + label:after {
    position: absolute;
    display: none;
    content: ''; }
.hide-category-checkbox:checked + label:before {
    animation-name: none;
}
.hide-category-checkbox:checked + label:after {
    display: block;
}
.hide-category-checkbox + label:before {
    border-radius: 3px;
}

.hide-category-checkbox + label:after {
    top: 8px;
    right: 9px;
    box-sizing: border-box;
    width: 16px;
    height: 21px;
    transform: rotate(40deg);
    border-width: 3px;
    border-style: solid;
    border-color: #333;
    border-top: 0;
    border-left: 0;
}

.hide-category-checkbox:checked + label:before {
    border: #ffd400;
    background: #ffff00;
}

.hide-category-checkbox:checked[disabled] + label:before {
    border: #c9e2f9;
    background: #c9e2f9;
}

#home-page-slider-container{
    color:#fff;
    height:30vh;
}


.home-advert-title{
    font-size:45px
}
.home-advert-title{
    margin-bottom: 30px;
}
.home-advert-description{
    font-size:25px;
}
.advertise-information-container {
    padding: 50px
}


.slick-slide img{
    width:100%;
}
.slick-dots li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
}
li.slick-active {
    background: #ffff00;
}
.slick-dots{
    bottom:-50px
}
.slick-dots button{
    display:none !important;
}

.modal-type-2 .modal-header{
    border-bottom:2px solid #111;
}
.modal-type-2 .modal-title{
    /*color:#222;*/
    font-weight: bold;
}
.modal-operation-menu-type-4{
    /*color:#222;*/
    /*font-weight: normal;*/
    /*border-radius: 0;*/
}
.modal-operation-menu-type-4.active{
    /*background: #444;*/
    /*color: #fff;*/
    /*border-radius: 0 !important;*/
}
#select-language-body {
    max-height: 850px;
    overflow-y: scroll;
}


#sort-button-container {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 30%;
    color:#fff;
    background: #111;
    text-align: center;
    padding:5px;
}
#sort-button-container.active {
    background: #eac407;
}
#sort-button {
    font-size: 35px;
    font-weight: bold;
}
#sort-button-icon {
    font-size: 60px;
    margin-left: 20px;
    font-size: 60px;
    line-height: 1;
}

#sort-button-container span{
    display: inline-block;
    vertical-align: middle;
}
#current-category-title{
    color:white;
    font-size:50px;
    text-align: right;
    padding-right: 50px;
    vertical-align: middle;
    display: inline-block;
    width: 70%;
}
.home-slick-image-container{
    display: inline-block;
    width: 41.7%;
    vertical-align: top;
}

#loc_account_title {
    font-size: 30px;
    color: #eee;
    margin-top: 20px;
}
#loc_account_desc {
    color: #efa906;
    font-size: 25px;
    white-space: normal;
    font-weight: normal;
    font-style: italic;
}
#lock_account_btns_container {
    margin-top: 10px;
}
.lock_account_btn {
    color: #fff;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding: 10px 50px;
    border-radius: 5px;
    border: 4px solid transparent;
}
.lock_account_btn.active{
    border-color: #fff;
}
.lock_account_btn label{
    margin-bottom: 0;
}
#lock-state-message {
    font-size: 25px;
    color: #fff;
    font-weight: normal;
    margin-top: 5px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s;
}
#lock-state-message.error{
    color: #f19506;
}
#lock-state-message.visible{
    opacity: 1;
    transition: none;
}
#home-page-right-wrapper{
    margin-top:30px;
    margin-left:50px;
    font-size: 0;
    margin-bottom: 10px;
}
#theme-modal-body{
    max-height: 80vh;
    position: relative;
}
#theme-modal-items-container {
    max-height: 70vh;
    position: relative;
    overflow-y: scroll;
}
.color-preview-span {
    width: 79px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 5px;
}
button.refresh-modal-option{
    width:200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#playlist-error {
    text-align: center;
    color: #ff0000;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#playlist-items-container {
    position: relative;
    max-height: 50vh;
    overflow-y: scroll;
}
#setting-modal-items-container {
    position: relative;
    height: 825px;
    overflow-y: scroll;
}
#focus-color-modal-items-container{
    position: relative;
    max-height: 60vh;
    overflow-y: scroll;
}
.clear-cache-title {
    font-size: 35px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.clear-cache-desc {
    color: #fff;
    font-size: 25px;
    max-width: 100%;
    white-space: normal;
    font-weight: normal;
    margin-bottom: 30px;
}
#clear-cache-modal .modal-btn-1{
    min-width: 150px;
    margin-right: 5px;
}

