#login-container{
    position:relative;
    background-image: url("../images/background1.png");
    background-size: 100% 100%;
}
#login-container .left-part-content{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    display: none;
}
.login-button{
    margin:0 auto;
    width:350px;
    background-color:#544596;
    color:#ccc;
    font-size:32px;
    font-weight:bold;
    padding:10px 0;
    position:relative;
    border-radius:50px;
}
.login-button .user-icon{
    margin-right:50px;
}
.login-button:hover,.login-button.active{
    background: #653e91;
    color: yellow;
    cursor: pointer;
}
.login-text-1{
    font-size:25px;
}
#activate-link{
    color: #ccc;
    font-weight:bold;
    text-decoration: none !important;
    cursor: pointer;
    border:2px solid #524495;
    border-radius:60px;
    padding: 10px;
    font-size:25px;
    width:500px;
}
#activate-link:hover, #activate-link.active{
    color: yellow !important;
    border-color: #824ccd;
}
#login-container .user-icon{
    margin-right:30px;
}


#login-container .loader-image-container{
    position:fixed;
    z-index:10;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    /*visibility: hidden;*/
    /*display: none;*/
}
.loader-img-wrapper {
    /*background: #1a243a;*/
    padding: 120px 220px;
    box-shadow: 15px 15px 50px #111;
}
.loader-image-container img{
    height: 300px;
}



#login-play-list-information{
    display:none;
}

#login-error-message {
    text-align: center;
    color: #f14807;
    font-size: 22px;
    font-weight: bold;
}
.login-playlist-item-wrapper {
    color: #fff;
    text-align: center;
    background: #333;
    padding: 15px;
    font-size: 30px;
    border-radius: 5px;
    margin-bottom: 2px;
    border:3px solid transparent;
    transition: all 0.1s;
    background-clip: padding-box;
}
.login-playlist-item-wrapper:hover,.login-playlist-item-wrapper.active {
    border-color: #ffff00;
}
#login-playlist-items-container {
    position: relative;
    max-height: 500px;
    overflow-y: scroll;
    margin-top:20px;
}
#login-page-error-playlists-container{
    display: none;
}
#network-issue-container {
    position: fixed;
    left: 50%;
    top: 50%;
    background: #ff6a00;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    width: 600px;
    display: none;
}
#network-issue-icon {
    display: block;
    height: 100px;
    margin:0 auto;
}
#network-issue-text {
    color: #ffff00;
    font-size: 30px;
    text-align: justify;
    margin-top: 30px;
}
#network-issue-btns-container{
    text-align: center;
    margin-top:25px;
}
.network-issue-btn {
    color: #fff;
    font-size: 30px;
    padding: 5px 30px;
    width: 200px;
    border-radius: 5px;
    background: #444;
    display: inline-block;
    vertical-align: middle;
    border: 3px solid transparent;
    background-clip: padding-box;
}
.network-issue-btn.active{
    background: #42a5f5;
}
#login-page-mac-address-container {
    display: none;
    font-size:35px;
    color: #fff;
    margin-top:35px;
}
#login-page-mac-address-container *{
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
}
.login-page-mac-address {
    margin-left:10px;
}
.version {
    color: #b3b3b3;
    font-size: 30px;
    position: fixed;
    right: 40px;
    bottom: 30px;
}
.version span {
    display: inline-block;
    vertical-align: middle;
}
#version-txt {
    margin-left: 5px;
}