@media screen and (max-width: 1281px){
    .loader-image-container img{
        height: 130px;
    }
    #home-page .menu-item {
        padding: 5px;
        font-size: 25px;
        color: #fff;
        width: 100%;
    }
    #home-page #menu-container{
        height: 452px;
        padding:0 10px;
    }
    #menu-wrapper .menu-item{
        font-size: 32px;
    }
    .home-advert-title {
        margin-bottom: 20px;
        font-size: 32px;
    }
    .home-advert-description {
        font-size: 20px;
    }
    .advertise-information-container {
        padding: 40px;
    }
    #home-page .movie-slider-title {
        font-size: 30px;
        margin-bottom: -10px;
        margin-top: 10px;
        color: #fff;
    }

    #home-page .movie-sliders-part {
        margin-top: 70px;
        margin-left: 50px;
    }

    #home-page-slider-container {
        color: #fff;
        height: 25vh;
    }
    #home-page .movie-slider-wrapper {
        padding: 10px 5px 10px 10px;
    }
    .movie-item-wrapper .movie-item-thumbernail-img-wrapper{
        height: 140px;
        width: 125px;
    }
    .movie-thumbernail-title-wrapper {
        height: 30px;
    }
    .movie-item-wrapper.channel .movie-item-thumbernail-img-wrapper {
        height: 120px;
        width: 120px;
    }
    #movie-grids-container{
        max-height: 620px;
    }
    #home-page .movie-thumbernail-title {
        font-size: 15px;
    }
    #home-page .movie-slider-wrapper {
        padding-top: 10px;
    }

    #search-back-button-wrapper {
        margin-bottom: 10px;
    }
    #sub-menus-wrapper {
        /*height: calc(65vh - 85px);*/
        height: 383px;
        overflow-y: scroll;
    }


    #live_channels_home #channel-menu-container {
        margin-top: 20px;
        padding: 0 10px;
    }
    #channel-menu-wrapper{
        height: 625px;
    }
    #channel-page-search-back-button-wrapper {
        margin-bottom: 10px;
        font-size: 22px;
    }
    #live-channel-category-name{
        font-size:26px;
        width: 235px;
    }

    #live_channels_home .channel-menu-item {
        padding: 5px;
        font-size: 20px;
    }
    #live_channels_home .channel-number{
        width:70px;
    }
    #live_channels_home .channel-icon {
        width: 40px;
        height: 40px;
    }

    .favourite-icon {
        right: 20px;
    }

    #live_channels_home .channel-information-container {
        margin-top: 10px;
        padding: 15px;
    }
    #channel-title {
        font-size: 30px;
        margin-top: 0;
    }
    .next-program-item {
        font-size: 22px;
    }
    .channel-action-btn {
        font-size: 25px;
        width: 200px;
        padding: 7px 10px;
        margin-left: 5px;
    }

    #full-screen-program-name,
    #catchup-full-screen-program-name,#guide-video-program-name{
        font-size:35px;
    }

    #full-screen-program-description,
    #catchup-full-screen-program-description,
    #guide-video-program-description
    {
        font-size:25px;
    }

    #full-screen-channel-name,
    #catchup-full-screen-channel-name,
    #guide-video-channel-name{
        font-size:20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    #full-screen-information-progress,
    #catchup-full-screen-information-progress,
    #guide-video-information-progress{
        margin: 10px 40px;
    }
    #full-screen-current-program, #full-screen-next-program,
    #catchup-full-screen-current-program, #catchup-full-screen-next-program,
    #guide-video-current-program,#guide-video-next-program{
        padding: 10px;
    }
    #full-screen-channel-logo, #guide-screen-channel-logo {
        height: 70px;
    }

    #home-page-movies-grid-container .movie-grid-item-image {
        height: 150px;
    }
    #home-page-movies-grid-container .movie-grid-item-title-wrapper {
        height: 40px;
    }
    #menu-container{
        margin-top:10px;
    }
    #current-category-title{
        font-size:32px;
        /*margin-top:40px;*/
        padding-right: 40px;
    }

    #vod-summary-name, #series-summary-name {
        font-size: 35px;
    }
    .vod-summary-item {
        font-size: 22px;
    }
    #vod-summary-action-container, #series-summary-action-container {
        bottom: 40px;
    }
    .vod-series-action-btn {
        width: 220px;
        font-size: 20px;
        padding: 7px 0;
        margin-right: 5px;
    }
    .rating{
        font-size:30px;
    }
    .favourite-badge {
        right: 10px;
        top: 5px;
        font-size: 20px;
    }
    #vod-summary-description, #series-summary-description {
        margin-top: 20px;
        font-size: 22px;
        line-height: 1.3;
    }


    #guide-categories-container .guide-category-item {
        font-size: 20px;
        padding: 2px 10px 2px;
    }

    .guide-channel-item-wrapper {
        padding: 5px 5px;
        height: 40px;
        font-size: 20px;
    }
    .guide-channel-number {
        width: 60px;
    }
    .guide-programme-item-wrapper{
        height: 40px;
        font-size: 20px;
        padding: 5px 5px;
    }
    .guide-time {
        font-size:20px;
    }

    .guide-channel-information-container{
        padding: 30px 5px 20px 70px;
    }
    .guide-channel-image-container{
        width:100px;
    }
    #guide-program-time{
        font-size:20px;
        margin-bottom:10px;
    }
    #guide-programme-name{
        font-size:25px;
    }

    .modal-title-text-2{
        font-size: 30px;
    }
    .modal-operation-menu-type-3 {
        font-size: 25px;
        padding: 10px 25px;
    }

    #channel-image-container{
        margin-top:0;
    }
    #channel-image-container img {
        width: 130px;
    }
    #channel-name{
        font-size: 25px;
    }
    #current-program-name{
        font-size: 30px;
        margin-top: 10px;
    }
    #current-program-time{
        font-size: 22px;
        margin: 5px auto;
        padding: 5px 10px;
    }
    #program-menu-container{
        margin-top:5px;
    }
    #program-information-wrapper{
        padding:20px;
    }
    #program-date-container{
        padding: 5px 10px;
    }
    .program-date-wrapper{
        font-size:20px;
    }
    #catchup .program-menu-item {
        padding: 5px;
        font-size: 20px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }
    .program-icon {
        padding: 6px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 10px;
        margin-top: 10px;
    }
    #program-menu-container {
        /*height: calc(100vh - 380px);*/
        height: 340px;
    }
    #catchup-program-title{
        font-size: 30px;
    }
    #catchup-program-description {
        font-size: 22px;
    }

    #sort-button{
        font-size: 25px;
    }
    #sort-button-icon{
        font-size: 40px;
    }

    #select-language-body{
        max-height: 500px;
    }
    .season-grid-item-wrapper, .episode-grid-item-wrapper{
        height: 210px;
    }
    .season-image, .episode-image{
        height: 150px;
    }

    #season-grid-container, #episode-grid-container{
        height:480px;
    }
    #vod-summary-image-wrapper img, #series-summary-image-wrapper img{
        width: 400px;
        max-height: 634px;
    }
    #season-title-container{
        margin-top:60px;
    }
    #search-page {
        padding: 25px 30px;
    }
    #search-page-top-menus-container {
        position: relative;
        margin-bottom: 20px;
    }
    #search-page-input {
        font-size: 25px;
        padding: 3px 40px 5px 60px;
    }
    .search-page-stream-type-label {
        font-size: 25px;
    }
    .filtered-movie-container.channel .filtered-movie-img-wrapper {
        height: 100px;
        width: 170px;
    }
    .search-page-stream-type-container {
        margin-bottom: 10px;
        min-height: 150px;
    }
    .filtered-movie-title-wrapper {
        height: 35px;
    }
    .filtered-movie-title{
        font-size: 22px;
    }
    .filtered-movie-img-wrapper img {
        height: 110px;
        width: 150px;
    }
    .search-page-top-menu.back-icon {
        color: #ddd;
        font-size: 30px;
        margin-top: 12px;
    }
    #home-page-right-wrapper{
        margin-top: 30px;
        margin-left: 20px;
    }
    #movie-grids-container{
        padding: 0 20px;
    }
    #home-page-movies-grid-container .movie-item-wrapper{
        border-radius: 5px;
    }
    #home-page-movies-grid-container .movie-item-wrapper img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .vod-series-summary-page-contents-container{
        padding: 0px 40px;
    }
    .vod-summary-information-container {
        padding-left: 40px;
        padding-top: 60px;
    }
    #current-vod-category, #current-series-category {
        font-size: 28px;
    }
    #vod-summary-description, series-summary-description{
        -webkit-line-clamp:7;
    }
    .channel-page-category-item, .channel-menu-item{
        padding: 5px 20px;
        font-size: 25px;
        margin-bottom: 2.5px;
        height: 49px;
    }
    #setting-modal-items-container{
        height: 470px;
    }
}
